body {
  background-color: aquamarine;
}

.calc {
  margin: auto;
  position: relative;
  place-items: center;
  display: grid;
  height: 100vh;
}

.container {
  margin: 0;
  height: 500px;
  padding: 10px;
  border-radius: 8px;
  background-color: #fcfcff;
  box-shadow: 0px 0px 10px rgb(168, 197, 255);
  align-content: end;
  position: absolute;
}

.display {
  height: 80px;
  font-family: "Poppins";
  font-size: 40px;
  text-align: end;
  align-content: end;
  padding: 10px 20px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: rgb(199, 241, 255);
  opacity: 0.1;
  margin-bottom: 4px;
  border-radius: 0px 0px 2px 2px;
  box-shadow: 0 0 10px rgb(200, 233, 255);
}

button {
  width: 56px;
  height: 56px;
  background-color: #ffffff00;
  border: none;
  font-family: "Poppins";
  font-size: 16px;
}

.btn-func {
  color: rgb(67, 120, 255);
  font-weight: medium;
}

button#equal {
  background-color: rgb(67, 120, 255);
  color: white;
  border-radius: 80%;
  padding: 10px;
}

button:hover {
  border-radius: 80%;
  background-color: rgba(189, 245, 255, 0.279);
}
